body {
   background-color: #191919;
}

.main {
   width: 600px;
   height: 800px;
   background-color: #FE8002;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.header {
   align-content: center;
   text-align: center;
   font-family: 'Sigmar One', cursive;
   font-size: 35px;
   text-decoration: underline #000;
}

.info {
   font-family: 'Mate SC', serif;
   text-align: justify;
   font-size: 25px;
   padding-left: 5px;
   padding-right: 5px;
}

.rules1 {
   font-size: medium;
   padding-left: 5px;
   font-family: 'Sigmar One', cursive;
}

.lista {
   font-family: 'Barlow', sans-serif;
}